.grad{
    background: linear-gradient(55deg, rgb(0, 255, 191), rgba(0, 128, 0, 0.557));
    width: auto;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
}

.transform{
    width: 100px;
    height: -100px;
    background: red;
    margin: auto;
    margin-top: 50px;
}
.transform:hover{
    transform: translate(10px, 20px);
}